{% extends '_base.html' %}


{% block page_title %}
    home page
{% endblock page_title %}
    


{% block content %}




    


{% if api %}

    {% if api == "Error..." %}
        <p>there was an error , please try again.</p>

    {% else %}
        
        
        {% if zipcode %}
            <div class="jumbotron border-box">
                <!-- Your existing code goes here -->
                <h1 class="display-4">{{api.0.Category.Name}}</h1>
                <p>Air quality : {{api.0.AQI}}</p>
                <p class="lead">Reporting Area : {{api.0.ReportingArea}} </p>
            </div>
        
            
            
        {% endif %}

        
        




        


    {% endif %}

    
        

{% else %}
    <div class="jumbotron border-box">
                    
        <p>the zipcode you have inserted is not valid in USA</p>

    </div>
    
{% endif %}
    



{% endblock content %}
    
